@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 96%;
  --background-hsl: 0, 0%, 4%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-hsl: 0, 0%, 4%;
  }
} */

body {
  @apply p-4;

  color: hsl( var(--foreground-hsl) );
  background-color: hsl( var(--background-hsl) );
}

h1 {
  @apply text-4xl font-bold leading-tight;
}

h2 {
  @apply text-3xl font-semibold leading-snug;
}

h3 {
  @apply text-2xl font-medium leading-normal;
}

@layer utilities {
}
