@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 96%;
  --background-hsl: 0, 0%, 4%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-hsl: 0, 0%, 4%;
  }
} */

body {
  color: hsl( var(--foreground-hsl) );
  background-color: hsl( var(--background-hsl) );
}

@layer utilities {
}
